<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<p>
<form action="{{url_for('plot')}}" method="POST">
    Magnitude Range1:<input type="text" name="d1" maxlength="200" width="60"> <br/>
    Magnitude Range2:<input type="text" name="d2" maxlength="200" width="60"> <br/>
   <input type="submit" value="plot"><br/><br/>

</form>
</p>

<p>
<form action="{{url_for('hbar')}}" method="POST">
    Magnitude Range1:<input type="text" name="d1" maxlength="200" width="60"> <br/>
    Magnitude Range2:<input type="text" name="d2" maxlength="200" width="60"> <br/>

   <input type="submit" value="hbar"><br/><br/>

</form>
</p>

<p>
<form action="{{url_for('vbar')}}" method="POST">
    Magnitude Range1:<input type="text" name="d1" maxlength="200" width="60"> <br/>
    Magnitude Range2:<input type="text" name="d2" maxlength="200" width="60"> <br/>

   <input type="submit" value="vbar"><br/><br/>

</form>
</p>

<p>
 <form action="{{url_for('pie')}}" method="POST">
    Magnitude Range1:<input type="text" name="d1" maxlength="200" width="60"> <br/>
    Magnitude Range2:<input type="text" name="d2" maxlength="200" width="60"> <br/>

   <input type="submit" value="pie"><br/><br/>
</form>
</p>

<p>
<form action="{{url_for('scatter')}}" method="POST">

   <input type="submit" value="scatter"><br/><br/>
</form>
</p>

<p>
<form action="{{url_for('histogram')}}" method="POST">

   <input type="submit" value="histogram"><br/><br/>
</form>
</p>

</body>
</html>
